<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.library.libraryback.mapper.BookMapper">
    <select id="selectAllBook" resultType="book">
        select * from book;
    </select>
    <select id="getBookById" resultType="book">
        select * from book where bookid=#{id};
    </select>
    <insert id="insertBook">
    insert into book (bookid, title, author, cover) values (#{bookid},#{title},#{author},#{cover})
    </insert>
    <delete id="deleteBook">
        DELETE FROM book WHERE bookid = #{id}
    </delete>
    <update id="updateBook">
       update book
        set
        title=#{title},author=#{author},
        cover=#{cover},outtime=#{outtime},
        exist=#{exist},borrow=#{borrow}
       where bookid=#{bookid}
    </update>
    <select id="findtrue" resultType="book">
        select * from book where exist=true;
    </select>
    <select id="findfalse" resultType="book">
        select * from book where exist=false;
    </select>
    <select id="findUrl" resultType="book" >
        select * from book where bookid = #{id}
    </select>

</mapper>